{{- $home    := .Site.Params.homepage.linkPosition -}}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
      </div>
      <div class="column">
        <div class="footer-column">
          <center>
          <ul class="link-list">
            {{ if isset .Site.Params.footer.gitlab "link" }}
            <li>
              <a href="{{ .Site.Params.footer.gitlab.link }}" target="_blank">
                <span class="icon"><i class="fa-brands fa-gitlab"></i></span>
                Source
              </a>
            </li>
            {{ end }}
          </ul>
          </center>
        </div>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</footer>