{{- define "main" -}}
<section class="hero is-fullheight is-default is-bold">
    {{- partial "navbar.html" . -}}
    {{- partial "navbar-clone.html" . -}}
    {{- $homepage   := .Site.Params.homepage -}}
    {{- $title      := index $homepage "title" -}}
    {{- $subtitle   := index $homepage "subtitle" -}}
    {{- $image      := index $homepage "image" -}}
    {{- $image_tty      := index $homepage "imageTty" -}}
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-5 is-offset-1 landing-caption">
                    <h1 class="title is-1 is-bold is-spaced">
                    {{- $title -}}
                    </h1>
                    {{- with $subtitle -}}
                    <h2 class="subtitle is-5 is-muted">
                    {{ . }}
                    </h2>
                    {{- end -}}
                    {{/*  <p>
                        <a class="button cta rounded primary-btn raised" href="{{- $buttonLink -}}">
                            a{{- $buttonText -}}
                        </a>
                    </p>  */}}
                </div>
                <div class="column is-5 is-offset-1">
                    <figure class="image">
                        {{- $img := resources.Get $image -}}
                        <img src="{{- $img.Permalink | relURL -}}"
                        style="width:{{- .Site.Params.homepage.imageWidth -}}" alt="Myself">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <hr>
        <div class="columns">
            <div class="column is-6 is-offset-1">
                <figure class="image">
                    {{- $img_tty := resources.Get $image_tty -}}
                    <img src="{{- $img_tty.Permalink | relURL -}}"
                    style="width:700px" alt="Myself">
                </figure>
            </div>
            <div class="column is-4 is-offset-0">
                <h2 class="subtitle is-4 is-muted">
                Lots of files ?
                </h2>
                <p>Kubernetes systems can end up having a lot of resources that need to be deployed and modified,
                    solutions like kustomizeations and helmfiles do help to control the proccess a lot with there overlays and easy configuration.
                Resulting in big file strucutres with multiple deployements and overlays.</p>
                <br>
                <h2 class="subtitle is-4 is-muted">
                A bit of help from local8:
                </h2>
                <ol style="padding-left: 2em;">
                    <li>Find and index all helmfiles, kustomizations and overlays.</li>
                    <li>Easy config management as to what gets deployed and which overlays used.</li>
                    <li>Single command to deploy everything.</li>
                </ol>

            </div>
        </div>

    </div>

    <div class="container">
        <hr>
        <div class="columns">
            <div class="column is-6 is-offset-1">

            </div>
        </div>
    </div>


</section>
<br>
{{- partial "footer.html" . -}}
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
{{- partial "sidebar.html" . -}}
{{- end -}}